/* home.page.scss */

ion-content {
  --ion-background-color: #f8f8f8; /* Fondo gris claro */
  --ion-toolbar-background: #fff; /* Barra de herramientas blanca */

  .map-container {
    height: 50%;
  }

  ion-card {
    --ion-background-color: #fff;
    --ion-shadow: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  ion-button {
    --ion-padding-start: 20px;
    --ion-padding-end: 20px;
    --ion-border-radius: 10px;
  }
}

/* Estilos adicionales para personalizar aún más */

/* Botón de solicitud de viaje */
.request-button {
  --ion-background-color: #424242;
  --ion-text-color: #fff;
}

/* Tarjeta de vehículo */
.vehicle-card {
  /* Estilos para cada tarjeta de vehículo */
}